@page "/"

@inject ISnackbar Snackbar

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Prueba

<MudText>
	JsonNNahdelr es @Db y existe: @Db.fileExist(Db.StatisticJsonUrl) por que esta en @Db.StatisticJsonUrl
</MudText>

@foreach (var item in StatisticsList)
{
	<MudText>@item.Name con id @item.Id el dia @item.StartDate</MudText>
}