@page "/statistics"
<div style="display:flex;justify-content:space-around">
    <div></div>
    <h3>Statistics</h3>
    <MudIconButton Variant="Variant.Filled" Icon="@Icons.Material.Filled.Add" Size="Size.Large" Color="Color.Primary" OnClick="@(() => InsertModal= true)"></MudIconButton>
</div>

@* insert modal*@
<MudDialog @bind-Visible="InsertModal" Style="min-width:700px;min-height:400px">
    <TitleContent>
        Insertar Estadistica
    </TitleContent>
    <DialogContent >
        <EditForm Model="InsertStatistic" OnValidSubmit="OnInsertData">
            <MudTextField @bind-Value="InsertStatistic.Name" Label="Ha pasado x tiempo desde..." Style="margin-top:25px;"></MudTextField>
            <MudTextField @bind-Value="InsertStatistic.Description" Label="Una Descripcion" Style="margin-top:25px;"></MudTextField>
            <MudDatePicker @bind-Date="_startdate" Label="¿Cuando ocurrio?" Style="margin-top:25px;" />
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Style="margin-top:25px;" Variant="Variant.Filled" >Aceptar</MudButton>
            <MudButton Color="Color.Error" Style="margin-top:25px;" Variant="Variant.Filled" OnClick="@(() => InsertModal= false)">Cerrar</MudButton>
        </EditForm>
    </DialogContent>
</MudDialog>
@* ------- *@


@* update modal *@
<MudDialog @bind-Visible="UpdateModal" Style="min-width:700px;min-height:400px">
    <TitleContent>
        Editar estadistica @SelectedStatistic.Id
    </TitleContent>
    <DialogContent>
        <EditForm Model="SelectedStatistic" OnValidSubmit="OnUpdateData">
            <MudTextField @bind-Value="SelectedStatistic.Name" Label="Ha pasado x tiempo desde..." Style="margin-top:25px;"></MudTextField>
            <MudTextField @bind-Value="SelectedStatistic.Description" Label="Una Descripcion" Style="margin-top:25px;"></MudTextField>
            <MudDatePicker @bind-Date="_selecteddate" Label="¿Cuando ocurrio?" Style="margin-top:25px;" />
            <MudButton ButtonType="ButtonType.Submit" Color="Color.Primary" Style="margin-top:25px;" Variant="Variant.Filled">Aceptar</MudButton>
            <MudButton Color="Color.Error" Style="margin-top:25px;" Variant="Variant.Filled" OnClick="@(() => UpdateModal = false)">Cerrar</MudButton>
        </EditForm>
    </DialogContent>
</MudDialog>
@* ------- *@

@* delete modal *@
<MudDialog @bind-Visible="DeleteModal" Style="min-width:700px;min-height:400px">
    <TitleContent>
        Borrar @SelectedStatistic.Id
    </TitleContent>
    <DialogContent>
        Seguro que quieres borrar la estadistica @SelectedStatistic.Name
        <br />
        <MudButton Color="Color.Primary" Style="margin-top:25px;" Variant="Variant.Filled" OnClick="OnDeleteData">Aceptar</MudButton>
        <MudButton Color="Color.Error" Style="margin-top:25px;" Variant="Variant.Filled" OnClick="@(() => DeleteModal = false)">Cerrar</MudButton>
    </DialogContent>
</MudDialog>
@* ------- *@

@* datagrid *@
<MudDataGrid Items="@StatisticsList" T="Common.DataModels.Statistics">
    <Columns>
        <TemplateColumn Title="Id">
            <CellTemplate>
                <MudTooltip Text="@context.Item.Id">
                    <MudIcon Icon="@Icons.Material.Filled.Info"></MudIcon>
                </MudTooltip>
            </CellTemplate>
        </TemplateColumn>
        <PropertyColumn Property="x => x.Name" Title="Ha pasado x tiempo desde..." />
        <PropertyColumn Property="x => x.Description" Title="Una Descripcion" />
        <PropertyColumn Property="x => x.StartDate.ToShortDateString()" Title="¿Cuando ocurrio?" />
        <TemplateColumn >
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" OnClick="@(() => EditStatistic(context.Item))" Icon="@Icons.Material.Filled.Edit"></MudIconButton>
                <MudIconButton Variant="Variant.Filled" OnClick="@(() => DeleteStatistic(context.Item))" Color="Color.Error" Icon="@Icons.Material.Filled.Delete"></MudIconButton>
            </CellTemplate>
        </TemplateColumn>
    </Columns>
</MudDataGrid>
@* ------- *@
